:root {
  --left_width: 30vw;
  --right_width: 70vw;
}

body {
  margin: 0px;
  display: flex;
}

.credit {
  display: flex;
  position: absolute;
  bottom: 0%;
  justify-content: center;
  width: var(--left_width);
}

.logo {
  display: flex;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  top: 12vh;
  width: var(--left_width);
  gap: 5px;
}

@font-face {
  font-family: Norse-Bold;
  src: url(./fonts/Norse-Bold.otf);
}

.logo p {
  display: flex;
  font-family: Norse-Bold;
  font-size: 4em;
}

.logo img {
  max-width: 20%;  
}

.leftside {
  color: #e8e6e3;
}

#leftside_bg_img {
  width: var(--left_width);
  height: 100vh;
}

.rightside {
  width: var(--right_width);
  background-color: #282A36;
  color: #e8e6e3;
}

.rightside p {
  padding-left: 2vw;
  max-width: 50vw;
}

.form_section {
  display: flex;
  gap: 5vw;
}

.form_section div {
  display: flex;
  flex-direction: column;
}

.form_bg {
  background-color: #596D48;
  padding-left: 2vw;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #E5E7EB;
  width: 20vw;
}

input:focus {
  border-color: blue;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

#summit_button {
  background-color: #596D48;
  border-color: #596D48;
  color: #e8e6e3;
  margin: 2vw;
  border-radius: 10px;
  width: 220px;
  height: 50px;
}

#summit_button:hover {
  border-color: blue;
}

#login_link {
  color: #596D48;
}
