body {
  margin: 0px;
  display: flex;
}

.logo {
  display: flex;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  top: 12vh;
}

.logo p {
display: flex;
}

.logo img {
  max-width: 20%;  
}

.leftside {
  color: #e8e6e3;
}

#leftside_bg_img {
  width: 30vw;
  min-height: 100vh;
}

.rightside {
  min-width: 70vw;
  background-color: #282A36;
  color: #e8e6e3;
}

.form_section {
  display: flex;
  gap: 5vw;
}

.form_section div {
  display: flex;
  flex-direction: column;
}

.form_bg {
  background-color: #596D48;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #E5E7EB;
}

#summit_button {
  background-color: #596D48;
}

#login_link {
  color: #596D48;
}

input:focus {
  border-color: blue;
}
